<div class="row">
  <form class="col-12">
    <div class="card text-center p-2">
      <div class="scroll-area-sm">
        <div class="card m-1 p-1">
          <div
            class="widget-content-wrapper"
            *ngFor="let items of todo$ | async"
          >
            <div class="widget-content-left">
              <h6 class="widget-heading">{{ items.title }}</h6>
            </div>
            <div class="widget-content-right">
              <button
                class="border-0 btn-transition btn btn-outline-success"
                routerLink="/list/{{ items.id }}"
              >
                <i class="bi bi-eye"></i>
              </button>
              <button
                class="border-0 btn-transition btn btn-outline-danger"
                (click)="removeTodo(items.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        <a class="btn btn-primary" routerLink="/add"> + </a>
      </div>
    </div>
  </form>
</div>
