@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body,
html {
  height: 100%;
}

i {
  font-style: italic;
}

.container {
  margin-top: 100px;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  transition: all 0.2s;
}

.widget-content-wrapper {
  border: 1px solid rgb(206, 203, 203) !important;
  margin: 2px;
}

.widget-subheading {
  color: #858a8e;
  font-size: 10px;
  text-transform: capitalize !important;
}

.scroll-area-sm {
  height: 330px;
  width: 400px;
  overflow-x: hidden;
}
